*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
    color: antiquewhite;
    padding: 0 20px;
}
/* Header And Navigation Styles */
.header{
    background-color:#FFF8F3;
    background-image: url(../images/header_bg.png) , url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 50px;
}
nav h1{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    
    
}
nav ul li{
    margin-left: 50px;
}
/* Banner Section */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-subtitle{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.banner-name{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;
}
.cv-button{
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    border: none;
}

/* main section styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    padding: 130px 150px;
    background-color:#FFF8F3 ;
    border-radius: 10px;
    text-align: center;
    margin-top: 130px;
}
.section-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}
.section-description{
    color:#757575 ;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    color: #757575;
    font-size: 20px;
}
.info-description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}